.chatPage {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.chatContainer {
  height: 100%;
  width: 100vw;
  text-align: center;
  border: 1px solid black;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  border-bottom: 1px solid black;
  flex: 0.1;
}

.header > h2 {
  font-size: xx-large;
  color: rgb(86, 73, 205);
  margin: 2%;
}

.chatBox {
  flex: 0.8;
  overflow-y: hidden;
}

.inputBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 0.1;
}

.inputBoxInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: large;
  flex: 0.85;
}

.inputBoxButton {
  background-color: rgb(102,95,170);
  color: white;
  padding: 14px 10px;
  margin: 8px 2px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  flex: 0.1;
}

.inputBoxButton :hover {
  border: none;
}