.messageBox {
  float: left;
  margin: 5px;
  border-radius: 5px;
  padding: 2px;
  font-size: large;
  text-align: left;
  clear: both;
}

.messageRight {
  background-color: red;
  clear: both;
  float: right;
  margin: 10px;
  padding: 8px;
  border-radius: 2vmax;
  font-size: 1.3vmax;
}

.messageLeft {
  background-color: greenyellow;
  clear: both;
  float: left;
  margin: 10px;
  padding: 8px;
  border-radius: 2vmax;
  font-size: 1.3vmax;
}

p {
  padding-inline-start: 6px;
  padding-inline-end: 6px;
  font-size: large;
  font-weight: normal;
}