.messageBox {
  float: left;
  background-color: rgb(116, 209, 116);
  border: 1px solid rgb(116, 209, 116);
  margin: 5px;
  border-radius: 5px;
  padding: 2px;
  font-size: large;
  width: 15vmax;
  text-align: left;
  clear: both;
}

.messageRight {
  background-color: red;
  clear: both;
  float: right;
  margin: 5px;
  padding: 4px;
  border-radius: 2vmax;
}

.messageLeft {
  background-color: greenyellow;
  clear: both;
  float: left;
  margin: 5px;
  padding: 4px;
  border-radius: 2vmax;

}
