.messageBox {
  float: left;
  margin: 5px;
  border-radius: 5px;
  padding: 2px;
  font-size: large;
  clear: both;
}

.messageRight {
  padding: 10px;
  background-color: rgb(200, 178, 255);
  clear: both;
  float: right;
  border-radius: 10px 10px 0px 10px;
  max-width: 50vmax;
  font-size: 1.3vmax;
  margin: 10px;
  width: 30%;
  text-align: left;
  height: 10%;
}

.messageLeft {
  text-align: left;
  width: 30%;
  background-color: rgb(248, 204, 195);
  clear: both;
  float: left;
  margin: 10px;
  padding: 10px;
  border-radius: 10px 10px 10px 0px;
  font-size: 1.3vmax;
  height: 10%;
}

p {
  padding-inline-start: 6px;
  padding-inline-end: 6px;
  font-size: large;
  font-weight: normal;
  word-break: break-all;
  word-wrap: break-word;
}
